/*
    Created: December 9, 2020
    By: @Luka
    Modified: December 12, 2020

    Class: Main

*/


@import url("./Imports/Buttons.css");
@import url("./Imports/ButtonGroup.css");
@import url("./Imports/Navbar.css");
@import url("./Imports/Modals.css");
@import url("./Imports/Ripple.css");
@import url("./Imports/Icon.css");

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


* {
    box-sizing: border-box;
    font-family: roboto, arial, helvetica;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}