@import url("./Imports/Buttons.css");
@import url("./Imports/ButtonGroup.css");
@import url("./Imports/Navbar.css");


body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


* {
    box-sizing: border-box;
    font-family: roboto, arial, helvetica;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}